<footer class="footer is-non-print">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content is-small">
          <p markdown="1">Homeoffice Tipps & Tools</p>
          <p markdown="1">Verantwortlich für den Inhalt ist<br>
          Prof. Christian Noss<br>
Campus Gummersbach<br>
Steinmüllerallee 1<br>
51643 Gummersbach<br>
Raum 3.241<br>
<br>
f +49 2261-8196-6412<br>
m christian.noss(at)th-koeln.de</p>
        </div>
      </div>
      <div class="column">

      </div>
    </div>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.3/showdown.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/gg.js"></script>